body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
main{
    background-image: repeating-linear-gradient(lightblue,grey);
    width: fit-content;
    padding: 10px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: #3e1686;
    font-weight: 900;
}